$blue:      #00BAD2;
$blue-dark: #607D8B;
$pink:      #E91E63;

$gray        : #D1CCC3;
$black       : #1A1A1A;
$black-light : #727272;
$white       : #F8F8F8;

$primary-color:   $blue;
$secondary-color: $pink;

$alert-color:   #E51C23;
$success-color: #259B24;
$warning-color: #FF5722;
$info-color:    #03A9F4;
