$blue:      #00BAD2;
$blue-dark: #607D8B;

$gray        : #D1CCC3;
$black       : #6F6F6F;
$black-light : #696661;
$white       : #F8F8F8;

$primary-color:   $blue;
$secondary-color: $blue-dark;

$alert-color:   #E51C23;
$success-color: #259B24;
$warning-color: #FF5722;
$info-color:    #03A9F4;
