$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;

$body-font-family: 'Raleway', sans-serif;
$header-font-family: 'Bitter', serif;
$font-family-monospace: 'Ubuntu Mono', 'Monaco', monospace;

$body-bg: $primary-color;
$anchor-color: $primary-color;
