---
  title: CSS Orienté Objet
---

markdown:
  # CSSOO

  Je travaille d'une manière CSSOO, je sépare les composants en structure (objets) et peau (extensions). L' **analogie** suivante peut correspondre :

  ~~~ scss
  .room {}

  .room--kitchen {}
  .room--bedroom {}
  .room--bathroom {}
  ~~~

  Nous avons plusieurs types de pièces dans une maison, mais elles partagent toutes des caractéristiques semblables ; elles ont toutes un plancher, un plafond, des murs et des portes. Nous pouvons partager cette information dans une classe abstraite `.room {}`. Cependant, nous avons des types de pièces spécifiques qui sont différentes des autres; une cuisine pourrait avoir un sol carrelé et une pièce pourrait avoir des tapis, une salle de bains pourrait ne pas avoir une fenêtre, mais une chambre très probablement un grand nombre, chaque pièce a probablement différents murs colorés.
  Le CSS Orienté Objet nous apprend à résumer les styles. Il faut les
  répartir dans un objet de base, puis _étendre_ ces informations avec des classes plus spécifiques pour ajouter le traitement unique.

  Donc, au lieu de construire des dizaines de composants uniques, essayez de repérer les modèles de conception qui se répètent. Abstractisez-les en classes réutilisables; construirez ces squelettes comme des « objets » base, puis ajoutez vos classes de style en circonstance pour les rendre uniques.

  Si vous avez à construire un nouveau composant, scindez le en structure et en peau ; construisez la structure du composant en utilisant des classes très génériques afin que nous puissions réutiliser ces morceaux et utiliser des classes plus spécifiques pour la peau en y ajoutant un traitement du design.
