---
  title: Ecrire du CSS
---

markdown:
  # Ecrire du CSS

  La section précédente explorait la façon dont nous structurons et formons notre CSS ; ces différentes règles sont très quantifiables. La section suivante est un peu plus théorique et traite d'attitude et d'approche à adopter.
