---
  title: Spécificité des ID en CSS
  description:
  layout: article
---

markdown:
  # IDs

  Une note rapide sur les identifiants en CSS avant de nous plonger dans les sélecteurs en général.

  **Ne JAMAIS utiliser des ID en CSS.**

  Ils peuvent être utilisés dans votre balisage pour de l'identification en JS, mais pour styler vos éléments, utilisez seulement des classes.
  Vous ne voulez pas voir un seul identifiant dans tous vos styles !

  Les classes ont l'avantage d'être réutilisable (même si nous ne voulons pas, nous pouvons) et ils ont une belle et faible spécificité. La spécificité est l'une des façons les plus rapides de rencontrer des difficultés dans les projets et la maintenir à un faible niveau en tout temps est impératif.

  Un ID est **255** fois plus précis qu'une classe, donc ne les utilisez _jamais_ en CSS _jamais_.
