---
  title: CSS !important
---

markdown:
  # `!important`

  Il est correct d'utiliser `!important` sur des classes d'assistance uniquement.
  Vous pouvez aussi faire de la prévention en ajoutant `!important` dans le cas où vous savez que la règle sera **toujours ** prioritaire, par exemple `.error {color: red !important;}`.

  Utiliser `!important` pour sortir d'une situation périlleuse n'est pas conseillé. Retravaillez votre CSS et essayez de lutter contre ces problèmes en
  [réusinant](http://fr.wikipedia.org/wiki/R%C3%A9usinage_de_code) vos sélecteurs. Garder vos sélecteurs courts en évitant les IDS vous aidera énormément.
