---
  title: Nombres magiques CSS
  description:
  layout: article
---

markdown:
  # Nombres magiques et absolus

  Un nombre magique est un nombre qui est utilisé parce que « ça fonctionne ». Ceux-ci sont mauvais parce qu'ils fonctionnent rarement pour un motif réel et ne sont généralement pas à l'épreuve du temps ou flexibles. Ils ont tendance à fixer des symptômes et non des problèmes.

  Par exemple, utiliser `.dropdown-nav li:hover ul { top: 37px; }` pour déplacer une liste déroulante avec `:hover` est mauvais, puisque 37px est un nombre magique. 37px fonctionne seulement grâce à un coup de chance puisque `.dropdown-nav` a justement 37px de hauteur.

  Au lieu de cela, vous devez utiliser `.dropdown-nav li:hover ul { top: 100%; }`.
  quelque soit la hauteur de `.dropdown-nav`, dans la liste déroulante aura toujours 100% de déplacement par rapport à la hauteur.

  Chaque fois que vous codez en dur un certain nombre, réfléchissez-y à deux fois, si vous pouvez l'éviter en utilisant de mots-clés ou «alias» (`top: 100%` signifie «tout le chemin depuis le sommet») ou &mdash;encore mieux&mdash; pas de mesure du tout, alors vous devriez probablement y arriver.

  Chaque mesure codée en dur que vous définissez est un engagement que vous ne pourriez pas nécessairement vouloir conserver.
