---
  title: Spécificité du CSS
  description:
  layout: article
---

markdown:
  # Ordre des sources

  Essayez d'écrire des feuilles de style dans leur ordre de spécificité. Cela garantit de conserver l'avantage de l'héritage ainsi que le __C__ du CSS qui signifie cascade.

  Une feuille de style bien ordonnée ressemblera à ceci :

  1. **Reset** – réinitialisation des propriétés.
  2. **Elements** – propriétés de bases `h1`, `ul` etc.
  3. **Objets et abstractions** — patrons de conception génériques.
  4. **Composants** – composants complets construits à partir d'objets et de leurs extensions.
  5. **Atouts de style** – états des erreurs etc.

  Cela signifie que lorsque vous descendez dans le document, chaque section s'appuie et hérite de la précédente. Il devrait y avoir moins d'annulations de styles, moins de problèmes de spécificité, moins de créations de style tous azimuts et une meilleure architecture de vos feuilles.

  Pour en savoir plus, je vous recommande chaudement de lire [SMACSS](http://smacss.com) de Jonathan Snook.
