---
  title: Pré-processeurs Sass
  description: "Comment éviter la spécificité des déclarations en Sass ?"
  layout: article
---

markdown:
  # Pré-processeurs

  [Sass](http://sass-lang.com/) est mon pré-processeur préféré. **Utilisez-le à bon escient.** Utilisez Sass pour rendre votre CSS plus puissant, mais évitez la spécification comme la peste !
  Spécifiez seulement si cela est réellement nécessaire à votre CSS, par exemple :

  ~~~ scss
  .header {}
  .header .site-nav {}
  .header .site-nav li {}
  .header .site-nav li a {}
  ~~~

  Serait tout à fait inutile dans des conditions normales CSS, le SASS est **mauvais** :

  ~~~ scss
  .header {
    .site-nav {
      li {
        a {}
      }
    }
  }
  ~~~

  Si vous devez mettre SASS en place cette solution est bien meilleure :

  ~~~ scss
  .header {}
  .site-nav {
    li {}
    a {}
  }
  ~~~
